{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Winkelwagen</h1>
        <table class="table" style="text-align: center; color: white; ">
            <tr>

                <th>Categorie</th>
                <th>Omschrijving</th>
                <th>Aantal</th>
                <th>Prijs</th>
                <th></th>
            </tr>
            {% set totalPrice = 0 %}
            {% for product in Products %}
                <tr>

                    <td>
                        {{ product.Product.categorieid }}
                    </td>
                    <td>
                        {{ product.Product.omschrijving|raw }}
                    </td>
                    <td style="display: flex; justify-content:space-around; align-items:center">
                        <a class="btn btn-secondary" href="{{ path('product_remove', {'id': product.Product.id}) }}">-</a> {{ product.Aantal }} <a class="btn btn-secondary" href="{{ path('product_add', {'id': product.Product.id}) }}">+</a>
                    </td>
                    <td>
                        € {{ product.Product.Prijs|number_format(0, '', '.') }}
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('product_del', {'id': product.Product.id}) }}">Remove</a>
                    </td>
                </tr>
                {% set totalPrice = totalPrice + (product.Aantal * product.Product.Prijs) %}
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            {% if totalPrice != null %}
                <tr>
                    <td colspan="3"></td>
                    <th colspan="1">Totale prijs € </th>
                    <td colspan="1">{{ totalPrice|number_format(0, '', '.') }}</td>
                    <td colspan="1">
                        <a class="btn btn-success" href="{{ path('checkout') }}">Afrekenen</a>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}