{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Omschrijving</th>
                <th>Prijs</th>
                <th>Voorraad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.omschrijving|raw }}</td>
                <td>{{ product.prijs }}</td>
                <td>{{ product.voorraad }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-success" href="{{ path('product_add', {'id': product.id}) }}">add to cart</a>
                     {% for cartProduct in cart|keys %}
                        {% if cartProduct == product.id %}
                            <a class="btn btn-danger" href="{{ path('product_del', {'id': product.id}) }}">delete from cart</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>

    <a href="{{ path('product_new') }}">Create new</a>


{% endblock %}
